body {
	font-family: 'Inter', sans-serif;
}

.header-background {
	background-image: url('../background/background_2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 80vh;
	width: 100%;
	position: relative;
	margin-bottom: 0;
}

.header {
	position: relative;
	z-index: 1;
	padding: 20px;
	background-color: transparent;
	border-bottom: none;
	margin-bottom: 0;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.header-gradient {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	height: 20px;
	width: 100%;
	position: relative;
	margin-top: -1px;
}



.revivre-text {
	font-size: 30px;
}

.social-icons {
	display: flex;
	gap: 15px;
}

.social-icon i {
	font-size: 30px;
	color: white;
	transition: all 0.3s ease;
}

.social-icon i:hover {
	color: #FF9F1C;
}



.footer {
	background-color: #E73845;
	color: #fff;
	padding: 20px 0;
}

.footer-text {
	color: #fff;
	font-weight: 500;
}

.footer .footer-link {
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	transition: color 0.3s ease;
}

.footer .footer-link:hover {
	color: #fff;
}
