html, body {
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: 'Inter', sans-serif;
}

main {
	flex: 1;
}

#headerCarousel .carousel-item img {
	height: 100vh;
	object-fit: cover;
}

#headerCarousel {
	z-index: -1;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	padding: 20px;
	background-color: transparent;
	border-bottom: none;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.header-gradient {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	height: 20px;
	width: 100%;
	position: relative;
	margin-top: -1px;
}

.revivre-text {
	font-size: 30px;
}

.social-icons {
	display: flex;
	gap: 15px;
}

.social-icon i {
	font-size: 30px;
	color: white;
	transition: all 0.3s ease;
}

.social-icon i:hover {
	color: #FF9F1C;
}

.footer {
	background-color: #FF9F1C;
	color: #fff;
	text-align: center;
	position: relative;
	bottom: 0;
	width: 100%;
	margin-top: 20px;
}

.footer-text {
	color: #fff;
	font-weight: 500;
	margin-bottom: 0;
}

.footer .footer-link {
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	transition: color 0.3s ease;
}

.footer .footer-link:hover {
	color: #fff;
}

.navbar-active-indicator {
	position: absolute;
	bottom: -2px;
	left: 0;
	height: 3px;
	width: 100%;
	background-color: #FF9F1C;
	transition: transform 0.3s ease;
	transform-origin: bottom left;
}

.nav .nav-link {
	position: relative;
	color: #fff;
	transition: color 0.3s ease;
}

.nav .nav-link:hover, .nav .nav-link.active {
	color: #FF9F1C;
}

.nav .nav-link:hover::after, .nav .nav-link.active::after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	height: 3px;
	width: 100%;
	background-color: #FF9F1C;
	transform: scaleX(1);
}

.nav .nav-link::after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	height: 3px;
	width: 100%;
	background-color: #FF9F1C;
	transform: scaleX(0);
	transition: transform 0.3s ease;
	transform-origin: bottom left;
}

h1 {
	font-family: 'Inter', sans-serif;
	font-size: 2.5rem;
	color: black;
	font-weight: bold;
}


.form-container {
	padding: 20px;
	background-color: #ffffff;
	max-width: 500px;
	margin: auto;
	border-radius: 12px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
	color: #007bff;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

.form-group {
	margin-bottom: 20px;
	position: relative;
}

.input-group-text {
	background-color: #f1f1f1;
	border-right: none;
}

.input-group .form-control {
	border-left: none;
}

.btn-submit {
	background-color: #007bff;
	border-color: #007bff;
	color: #ffffff;
	font-weight: bold;
	width: 100%;
}

.hover-effect:hover {
	transform: scale(1.05);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.list-group-item:hover {
	background-color: #ffe4b5;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


/* Container et disposition principale */
.evening-container {
	max-width: 900px;
	margin: 5% auto;
	padding: 2rem;
	background-color: #ffffff; /* Blanc */
	border-radius: 8px;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

/* En-tête */
.evening-header h2 {
	color: #ff9f1c; /* Jaune */
	font-size: 2.5rem;
	font-weight: bold;
}
.evening-theme {
	font-style: italic;
	color: #ff9f1c; /* Jaune */
}

/* Cartes d'information */
.evening-info .info-card {
	margin-bottom: 1rem;
}
.info-content {
	padding: 1rem;
	border-radius: 8px;
	text-align: center;
	background-color: #ff9f1c; /* Jaune */
	color: white;
}
.info-title {
	font-weight: bold;
	font-size: 1.25rem;
}

/* Description */
.evening-description .description-card {
	padding: 1.5rem;
	background-color: #ffffff; /* Blanc */
	border-radius: 8px;
}

/* Titre des spectacles */
.shows-title {
	color: #ff9f1c; /* Jaune */
	font-weight: bold;
}

/* Cartes des spectacles */
.show-card {
	background-color: #ff9f1c; /* Jaune */
	border: none;
	border-radius: 8px;
	margin-bottom: 1rem;
	padding: 1.5rem;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
	color: white;
}

/* Effet de survol */
.show-card:hover {
	box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

/* Conteneur principal */
.show-container {
	display: flex;
	justify-content: center;
	padding: 2rem;
}

/* Carte du spectacle */
.show-card {
	background-color: #fff; /* Blanc */
	color: #333; /* Texte foncé pour un contraste agréable */
	padding: 2rem;
	border-radius: 8px;
	width: 100%;
	max-width: 700px;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Effet de survol de la carte */
.show-card:hover {
	transform: translateY(-10px); /* Soulever la carte au survol */
	box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15); /* Ombre plus marquée */
}

/* Titre du spectacle */
.show-title {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 1rem;
	color: #ff9f1c; /* Jaune */
}

/* Artiste et détails */
.show-artist, .show-details {
	font-size: 1rem;
	margin-bottom: 1rem;
	color: #555; /* Gris doux pour les détails */
}

/* Description du spectacle */
.show-description {
	font-size: 1.1rem;
	color: #666; /* Gris clair */
	margin-bottom: 2rem;
}

/* Lien pour voir le spectacle */
.show-link {
	display: inline-block;
	padding: 12px 20px;
	background-color: #2596be; /* Bleu */
	color: white;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Effet sur le lien */
.show-link:hover {
	background-color: #2fc5b6; /* Vert */
	transform: scale(1.05); /* Lien qui se gonfle légèrement */
}

